*, *::before, *::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

:root {
	/* tailwindcss default color palette */
	
	/* tailwindcss black & white */
	
	--black: #000000;
	--white: #FFFFFF;
	
	/* tailwindcss grey */
	
	--grey-100: #F7FAFC;
	--grey-200: #EDF2F7;
	--grey-300: #E2E8F0;
	--grey-400: #CBD5E0;
	--grey-500: #A0AEC0;
	--grey-600: #718096;
	--grey-700: #4A5568;
	--grey-800: #2D3748;
	--grey-900: #1A202C;
	
	/* tailwindcss red */
	
	--red-100: #FFF5F5;
	--red-200: #FED7D7;
	--red-300: #FEB2B2;
	--red-400: #FC8181;
	--red-500: #F56565;
	--red-600: #E53E3E;
	--red-700: #C53030;
	--red-800: #9B2C2C;
	--red-900: #742A2A;
	
	/* tailwindcss orange */
	
	--orange-100: #FFFAF0;
	--orange-200: #FEEBC8;
	--orange-300: #FBD38D;
	--orange-400: #F6AD55;
	--orange-500: #ED8936;
	--orange-600: #DD6B20;
	--orange-700: #C05621;
	--orange-800: #9C4221;
	--orange-900: #7B341E;
	
	/* tailwindcss yellow */
	
	--yellow-100: #FFFFF0;
	--yellow-200: #FEFCBF;
	--yellow-300: #FAF089;
	--yellow-400: #F6E05E;
	--yellow-500: #ECC94B;
	--yellow-600: #D69E2E;
	--yellow-700: #B7791F;
	--yellow-800: #975A16;
	--yellow-900: #744210;
	
	/* tailwindcss green */
	
	--green-100: #F0FFF4;
	--green-200: #C6F6D5;
	--green-300: #9AE6B4;
	--green-400: #68D391;
	--green-500: #48BB78;
	--green-600: #38A169;
	--green-700: #2F855A;
	--green-800: #276749;
	--green-900: #22543D;
	
	/* tailwindcss teal */
	
	--teal-100: #E6FFFA;
	--teal-200: #B2F5EA;
	--teal-300: #81E6D9;
	--teal-400: #4FD1C5;
	--teal-500: #38B2AC;
	--teal-600: #319795;
	--teal-700: #2C7A7B;
	--teal-800: #285E61;
	--teal-900: #234E52;
	
	/* tailwindcss blue */
	
	--blue-100: #EBF8FF;
	--blue-200: #BEE3F8;
	--blue-300: #90CDF4;
	--blue-400: #63B3ED;
	--blue-500: #4299E1;
	--blue-600: #3182CE;
	--blue-700: #2B6CB0;
	--blue-800: #2C5282;
	--blue-900: #2A4365;
	
	/* tailwindcss indigo */
	
	--indigo-100: #EBF4FF;
	--indigo-200: #C3DAFE;
	--indigo-300: #A3BFFA;
	--indigo-400: #7F9CF5;
	--indigo-500: #667EEA;
	--indigo-600: #5A67D8;
	--indigo-700: #4C51BF;
	--indigo-800: #434190;
	--indigo-900: #3C366B;
	
	/* tailwindcss purple */
	
	--purple-100: #FAF5FF;
	--purple-200: #E9D8FD;
	--purple-300: #D6BCFA;
	--purple-400: #B794F4;
	--purple-500: #9F7AEA;
	--purple-600: #805AD5;
	--purple-700: #6B46C1;
	--purple-800: #553C9A;
	--purple-900: #44337A;
	
	
	/* tailwindcss pink */
	
	--pink-100: #FFF5F7;
	--pink-200: #FED7E2;
	--pink-300: #FBB6CE;
	--pink-400: #F687B3;
	--pink-500: #ED64A6;
	--pink-600: #D53F8C;
	--pink-700: #B83280;
	--pink-800: #97266D;
	--pink-900: #702459;
}

html {
	min-height: 100%;
	scroll-behavior: smooth; 
}

body {
	font-family: 'Dancing Script', cursive;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	margin: 0;
	background: #000;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

img, svg {
	vertical-align: middle;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Header*/

.main-header {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.main-header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	margin: 1rem;
}

.logo svg {
	display: block;
	background: #fff;
	border-radius: 50%;
	transition: color .3s ease;
	width: 10vw;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -15px;
	left: 50px;
	transform: none;
	transition: transform .3s ease;
}

.logo svg:hover {
	transform: scale(1.3);
}

.main-header ul {
	display: flex;
}

.main-header li {
	position: relative;
}

.main-header ul ul {
	display: none;
	position: absolute;
	background: rgba(255,255,255,.7);
	border-radius: 0 0 .5rem .5rem;
	top: 100%;
	left: 0;
	min-width: 100%;
	z-index: 10;
}

.main-header li:hover ul {
	display: block;
}

.main-header ul a,
.main-header ul span {
	cursor: pointer;
	display: block;
	color: #000;
	font-weight: bold;
	padding: .5rem 1rem;
	position: relative;
	z-index: 1;
}

.main-header ul a:hover,
.main-header ul span:hover {
	opacity: .7;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search {
   width: 200px;
   height: 25px;
   border: 2px solid var(--grey-500);
   margin: 0 .5rem;
   padding: 1px 0 0 1rem;
   border-radius: .5rem;
   color: #000;
   background-image: url('img/icon/search.png');
   background-repeat: no-repeat;
   background-position: center;
   outline: 0;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
}

#search:hover ~ #myList {
	display: block;
}

#myList li a:hover:not(.header) {
  	opacity: .7;
}

.main-header .you-are-here > * {
	color: var(--grey-500);
}

/*Cover frontpage*/

.pic.frontpage .pic-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}

.pic {
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.pic.frontpage {
	height: 150vh;
	margin-top: -10rem;
}	

.fade-in {
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

.title.frontpage {
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
	padding: 2rem 30vw;
	display: inline-block;
	font-size: 10vw;
	color: rgba(255,255,255,.9);
	background: rgba(0,0,0,.7);
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
	line-height: .85;
	max-width: 100%;
	text-shadow: 0 0 15px rgba(0,0,0,.5);
	cursor: default;
	z-index: 1;
}

.scroll-button {
	box-shadow: 0 0 15px rgba(0,0,0,.5);
	background: rgba(255,255,255,.9);
	border-radius: 50%;
	color: var(--grey-100);
	display: inline-block;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: calc(50% - 1.5rem);
	bottom: 3rem;
	transition: background .3s ease;
	z-index: 1;
}

.scroll-button:hover {
	background: rgba(0,0,0,.5);
}

.scroll-button img {
	width: 3rem;
	height: 3rem;
}

/*Main*/

.main-content {
	max-width: 80vw;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
}

.main-content h2 {
	font-family: 'Dancing Script', cursive;
	margin-top: 9rem;
	text-align: center;
	cursor: default;
} 

#info {
	margin: 2rem;
	padding: 8rem 4rem;
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;

}

/*Ingredients*/

#ingredients {
	max-width: 20vw;
	margin: 0 auto;
	position: relative;
}

#ingredients p {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 2rem;
}

#ingredients input {
	width: 2rem;
	background: #000;
	color: #fff;
	border: none;
	font-size: 1rem;
	font-family: 'Dancing Script', cursive;
}

#ingredients h1 {
	text-align: center;
	font-size: 10vh;
	margin: -3rem 0 4rem 0;
}

#ingredients h3 {
	text-align: center;
}

#ingredients h3 {
	font-size: 3vh;
	display: block;
	margin: 4rem;
}

#ingredients .measure {
	position: absolute;
	left: 3rem;
}

#ingredients .ingredients {
	position: relative;
	line-height: 2rem;
}

#ingredients .amount {
	position: absolute;
}

#ingredients .name {
	margin-left: 6rem;
}

/*Recipe*/

#recipe {
	max-width: 60vw;
	margin: 0 auto;
}

#recipe h3 {
	text-align: center;
}

#recipe h3 {
	font-size: 3vh;
	display: block;
	margin: 4rem;
}

#recipe article {
	position: relative;
}

#recipe p {
	margin-left: 4.5rem;
	cursor: default;
}

#recipe div {
	width: 40px;
	height: 40px;
	padding-top: .5rem;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	color: #000;
	cursor: default;
	position: absolute;
	top: 0;
}

#recipe span {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 3vh;
}

.main-content img {
	width: 80vw;
}

.gallery {
	height: 400px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
}

.gallery div {
	height: 100%;
	width: calc(100% / 3);
	position: relative;
	transform: translateX(-100%);
	z-index: 10;
}

.gallery div a {
	overflow: hidden;
	display: block;
	border-radius: 50%;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .3s ease;
}

.gallery img:hover {
	transform: scale(1.2); 
} 

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease;
  border-radius: .5rem .5rem;
  user-select: none;
  z-index: 100;
}

.next {
  right: 0;
}

.prev {
	left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.to-top {
	position: relative;
	bottom: 2rem;
	margin-top: 10rem;
}

.to-top a {
	position: absolute;
	left: calc(50% - 1.5rem);
	bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 3rem;
	height: 3rem;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	overflow: hidden;
	transition: box-shadow .3s ease;
}

.to-top a:hover {
	box-shadow: 0 0 10px rgba(255,255,255,.3);
}

.to-top img {
	transform: rotate(180deg);
	transition: background .3s ease;
	z-index: 10;
}

.gallery .overlay {
	transform: translateY(0);
	display: none;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: .9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	transition: opacity .3s ease;
}

.gallery a:hover .overlay {
	display: block;
	opacity: 1;
}

/*Footer*/

.main-footer {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	font-weight: bold;
	text-align: center;
}

.main-footer nav {
	padding-top: .1em;
}

.main-footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-footer ul li {
	padding: 0 1rem 1rem;
	transition: .3s ease;
}

.main-footer img {
	width: 30px;
	height: auto;
}

